@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");
@import "~@global/scss/variables";

* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Helvetica Neue", sans-serif;
  background-color: $main-background;
  min-height: 100vh;
  padding-top: 52px;
  overflow-y: scroll;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
  transition: color 0.2s ease;
  color: #fff;
}

.g-container {
  width: 100%;
  max-width: 1100px;
  padding: 0 15px;
  margin: 0 auto;
}

.g-button {
  border-radius: 5px;
  display: inline-block;
  user-select: none;
  text-align: center;
  background: none;
  border: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  padding: 0 25px;
  transition: all 0.15s ease;
  transition-property: border-color, color, background-color, box-shadow;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  background-color: $main-color;
  color: #fff;
  height: 40px;

  &:hover {
    background-color: $main-color-lighten;
  }

  &:active {
    background-color: $main-color;
  }

  &--small {
    background-color: transparent;
    color: $main-color;
    font-size: 0.9em;
    font-weight: 400;
    padding: 10px;
    margin-right: 10px;

    &:hover {
      background-color: rgba(209, 209, 240, 0.2);
    }
  }
}

.g-input {
  outline: none;
  width: 100%;
  height: 30px;
  margin: 5px auto 30px;
  padding: 5px;
  border: 1px solid rgba(153, 153, 153, 0.33);
  border-radius: 5px;
}

.g-error {
  font-size: 0.8em;
  color: rgb(248, 11, 11);
}

.g-dropdown {
  position: relative;

  &--inline {
    display: inline;
  }

  &__content {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 900;
    padding: 10px 0;
    margin: 2px 0 0;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    background-clip: padding-box;
  }

  &-link {
    color: #14171a;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 16px;
    cursor: pointer;

    &:hover {
      background-color: $main-color;
      color: #fff;
    }
  }
}
