<template>
  <div class="registration">
    <form
      class="registration__form"
      @submit.prevent="registration"
    >
      <div>
        <div class="j-input-wrapper registration__input-wrapper">
          <input
            v-model="formFields.email"
            data-validation="E-mail"
            type="text"
            class="g-input"
            placeholder="Введите E-mail"
            @blur="checkValidation"
            @input="checkValidation"
          >
          <span class="g-error registration__input-error j-input-error" />
        </div>
        <div class="j-input-wrapper registration__input-wrapper">
          <input
            v-model="formFields.password"
            data-validation="password"
            type="password"
            class="g-input"
            placeholder="Введите пароль"
            @blur="checkValidation"
            @input="checkValidation"
          >
          <span class="g-error registration__input-error j-input-error" />
        </div>
        <div class="j-input-wrapper registration__input-wrapper">
          <input
            v-model="formFields.checkPassword"
            data-validation="password:checkPassword"
            type="password"
            class="g-input"
            placeholder="Повторите пароль"
            @blur="checkValidation"
            @input="checkValidation"
          >
          <span class="g-error registration__input-error j-input-error" />
        </div>
      </div>
      <footer class="registration__footer">
        <button
          class="g-button"
          type="submit"
        >
          Регистрация
        </button>
        <div class="g-error registration__form-error j-form-error" />
      </footer>
    </form>
    <Modal
      v-if="isEndRegistration"
      @close="closeModal"
    >
      <div slot="body">
        <h3 class="registration__modal-title">
          Спасибо за регистрацию!
        </h3>
        <div class="registration__modal-button-wrapper">
          <button
            class="g-button"
            @click="closeModal"
          >
            Перейти на главную страницу
          </button>
        </div>
      </div>
    </Modal>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import Modal from '@global/components/Modal';
import formFields from './models/formFields';

export default {
  name: 'TheRegistration',

  components: {
    Modal,
  },

  data: () => ({
    formFields: formFields(),
    // email: '',
    // password: '',
    // checkPassword: '',
    // isValideEmail: false,
    // isValidePassword: false,
    // isValideCheckPassword: false,
    isEndRegistration: false,
  }),

  computed: {
    ...mapState([
      'loggedInUser',
    ]),
  },

  methods: {
    ...mapActions([
      'addUser',
    ]),

    checkValidation(event) {
      const regEmail = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
      const regPassword = /^([A-Za-z0-9\.]{1,})$/;

      const mainRules = event.target.dataset.validation.split(':');

      const wrapper = event.target.closest('.j-input-wrapper');
      const erorr = wrapper.querySelector('.j-input-error');

      erorr.innerHTML = '';

      mainRules.forEach((rule) => {
        if (rule === 'E-mail') {
          if (regEmail.test(event.target.value) === false) {
            if (event.type === 'blur') {
              erorr.innerHTML = 'Введите коректный E-mail';
            }
            this.formFields.isValideEmail = false;
          } else {
            this.formFields.isValideEmail = true;
          }
        }

        if (rule === 'password') {
          if (regPassword.test(event.target.value) === false) {
            if (event.type === 'blur') {
              erorr.innerHTML = 'Пароль должен содержать не мение 8 символов латинского алфавита или цифры';
            }
            this.formFields.isValidePassword = false;
          } else {
            this.formFields.isValidePassword = true;
          }
        }

        if (rule === 'checkPassword') {
          if (this.password !== this.checkPassword) {
            if (event.type === 'blur') {
              erorr.innerHTML = 'Пароли не совпадают!';
            }
            this.formFields.isValideCheckPassword = false;
          } else {
            this.formFields.isValideCheckPassword = true;
          }
        }
      });
    },

    registration() {
      const formEror = document.querySelector('.j-form-error');

      if (this.formFields.isValideEmail
        && this.formFields.isValidePassword
        && this.formFields.isValideCheckPassword) {
        formEror.innerHTML = '';
        this.addUser({
          email: this.formFields.email,
          password: this.formFields.password,
        });
        this.isEndRegistration = true;
        this.formFields = formFields();
      } else {
        formEror.innerHTML = 'Заполните все поля коректно!';
      }
    },

    closeModal() {
      this.isEndRegistration = false;
      this.$router.push('/');
    },
  },
};
</script>

<style lang="scss">
@import "~@global/scss/variables";

.registration {
  margin: 100px auto;
  max-width: 440px;
  width: 100%;
  height: 300px;
  border: 1px solid rgba(153, 153, 153, 0.33);
  border-radius: 5.51px;
  background-color: #fff;

  &__form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__input-wrapper {
    position: relative;
  }

  &__input-error {
    position: absolute;
    top: 35px;
    left: 0;
  }

  &__footer {
    text-align: right;
  }

  &__modal-title {
    text-align: center;
  }

  &__modal-button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
  }
}

</style>
