<template>
  <div class="g-container">
    <div class="row">
      <Product
        v-for="product in products"
        :key="product.id"
        :product="product"
        class="
          col-xs-6
          col-sm-4
          col-md-4
          col-lg-3"
        @addToBasket="addProduct"
      />
    </div>
    <Modal
      v-if="isShowModal"
      @close="isShowModal = false"
    >
      <div slot="body">
        <h3 class="registration__modal-title">
          Для добавления предметов в корзину необходимо зарегистрироваться
        </h3>
        <div class="registration__modal-button-wrapper">
          <button
            class="g-button g-button--small"
            @click="isShowModal = false"
          >
            Отмена
          </button>
          <button
            class="g-button"
            @click="$router.push('/registration');"
          >
            Перейти к странице регистрации
          </button>
        </div>
      </div>
    </Modal>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex';
import Modal from '@global/components/Modal';
import Product from './components/Product';

export default {
  name: 'TheHome',

  components: {
    Product,
    Modal,
  },

  data: () => ({
    isShowModal: false,
  }),

  computed: {
    ...mapState([
      'products',
      'loggedInUser',
    ]),

    ...mapGetters([
      'isLoggedUser',
    ]),
  },

  created() {
    this.getProducts();
  },

  methods: {
    ...mapActions([
      'getProducts',
      'changeBusket',
    ]),

    addProduct(id) {
      if (this.isLoggedUser) {
        this.changeBusket({
          productId: id,
          productAmount: 1,
        });
      } else {
        this.isShowModal = true;
      }
    },
  },
};
</script>
