<template>
  <div>
    <BusketStatus
      :products-amount="basketItemsAmount"
      :total-coast="totalCoast"
    />
    <div
      v-for="basketItem in basket"
      :key="basketItem.id"
    >
      <div
        v-for="product in products"
        :key="product.id"
      >
        <BasketItem
          v-if="basketItem.id === product.id"
          :image="product.image"
          :name="product.name"
          :price="product.price"
          :amount="basketItem.amount"
          :total-coast="product.price * basketItem.amount"
          @add="changeBusket({
            productId: product.id,
            productAmount: 1,
          })"
          @remove="changeBusket({
            productId: product.id,
            productAmount: -1,
          })"
          @delete="removeBasketItem(product.id)"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex';
import BasketItem from './components/BusketItem';
import BusketStatus from './components/BusketStatus';

export default {
  name: 'TheBasket',

  components: {
    BasketItem,
    BusketStatus,
  },

  computed: {
    ...mapState([
      'products',
    ]),

    ...mapGetters([
      'basket',
      'basketItemsAmount',
      'totalCoast',
    ]),
  },

  created() {
    this.getProducts();
  },

  methods: {
    ...mapActions([
      'removeBasketItem',
      'getProducts',
      'changeBusket',
    ]),
  },
};
</script>
