<template>
  <div>
    <div class="product">
      <img
        :src="product.image"
        :alt="product.name"
        class="product__image"
      >
      <div>
        <h2 class="product__title">
          {{ product.name }}
        </h2>
        <div class="product__description">
          <span>
            Цена:
          </span>
          <span>
            {{ formatNumber(product.price) }} грн
          </span>
        </div>
        <button
          class="g-button product__button"
          @click="$emit('addToBasket', product.id)"
        >
          Добавить в корзину
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { formatNumber } from 'chober';

export default {
  name: 'Product',

  props: {
    product: {
      type: Object,
      default: () => ({}),
    },
  },

  methods: {
    formatNumber,
  },
};
</script>

<style lang="scss">
@import "~@global/scss/variables";

.product {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 245px;
  background-color: #fff;
  height: 500px;
  padding: 40px;
  margin: 40px auto 0;
  text-align: center;

  &__title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
  }

  &__description {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }

  &__button {
    margin-top: 30px;
  }
}
</style>
