<template>
  <div class="basket-item">
    <div class="basket-item__image-wrapper">
      <img
        :src="image"
        :alt="name"
        class="basket-item__image"
      >
    </div>
    <div class="basket-item__main">
      <header class="basket-item__header">
        <span>
          {{ name }}
        </span>
        <button
          class="basket-item__button"
          @click="$emit('delete')"
        >
          X
        </button>
      </header>
      Цена: {{ formatNumber(price) }} грн
      <footer>
        <div>
          Количество:
          <button
            class="basket-item__button"
            @click="$emit('remove')"
          >
            -
          </button>
          {{ amount }}
          <button
            class="basket-item__button"
            @click="$emit('add')"
          >
            +
          </button>
        </div>
        <div>
          Общая стоимость: {{ formatNumber(totalCoast) }} грн
        </div>
      </footer>
    </div>
  </div>
</template>

<script>
import { formatNumber } from 'chober';

export default {
  name: 'BusketItem',

  props: {
    image: {
      type: String,
      default: '',
    },
    name: {
      type: String,
      default: '',
    },
    price: {
      type: Number,
      default: null,
    },
    amount: {
      type: Number,
      default: null,
    },
    totalCoast: {
      type: Number,
      default: null,
    },
  },

  methods: {
    formatNumber,
  },
};
</script>

<style lang="scss">
@import "~@global/scss/variables";

.basket-item {
  height: 150px;
  margin: 20px 0;
  background-color: #fff;
  padding: 10px 20px;
  display: flex;

  &__image {
    height: 100%;
  }

  &__image-wrapper {
    width: 20%;
    text-align: center;
  }

  &__main {
    width: 100%;
  }

  &__header {
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  &__button {
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: $main-color;
    color: #fff;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: $main-color-lighten;
    }

    &:active {
      background-color: $main-color;
    }
  }
}
</style>
