<template>
  <div class="busket-status">
    <div
      v-if="productsAmount"
      class="busket-status__main"
    >
      <div>
        <span>
          Количество товаров: {{ productsAmount }}
        </span>
        <br>
        <span>
          Общая сумма: {{ formatNumber(totalCoast) }} грн
        </span>
      </div>
      <div>
        <button class="g-button">
          Оформить заказ
        </button>
        <button
          class="g-button"
          @click="clearBasket"
        >
          Очистить корзину
        </button>
      </div>
    </div>
    <div v-if="!isLoggedUser">
      Что бы использовать корзину вам необходимо
      <router-link
        to="/registration"
        class="g-button g-button--small"
      >
        Зерегистрироваться
      </router-link>
    </div>
    <div
      v-if="productsAmount === 0
        && isLoggedUser"
    >
      Ваша корзина пуста, чтобы добавить в нее товары перейдите на
      <router-link
        to="/"
        class="g-button g-button--small"
      >
        главную страницу
      </router-link>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import { formatNumber } from 'chober';

export default {
  name: 'BusketStatus',

  props: {
    totalCoast: {
      type: Number,
      default: null,
    },
    productsAmount: {
      type: Number,
      default: null,
    },
  },

  computed: {
    ...mapGetters([
      'isLoggedUser',
    ]),
  },

  methods: {
    ...mapActions([
      'clearBasket',
    ]),

    formatNumber,
  },
};
</script>

<style lang="scss">
.busket-status {
  background-color: #fff;
  padding: 20px;
  margin-top: 10px;
  font-weight: 700;

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
</style>
