<template>
  <div
    :class="{ 'g-dropdown--inline': inline }"
    class="g-dropdown"
  >
    <span ref="dropdown-link">
      <slot
        :is-opened="isShownDropdown"
        name="title"
      >
        Заголовок
      </slot>
    </span>
    <transition name="g-fade">
      <div
        v-if="isShownDropdown && !closed"
        ref="dropdown-content"
        class="g-dropdown__content"
      >
        <slot name="content">
          Контент
        </slot>
      </div>
      <div
        v-if="isShownDropdown && isOpened && closed"
        ref="dropdown-content"
        class="g-dropdown__content"
      >
        <slot name="content">
          Контент
        </slot>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'Dropdown',

  props: {
    hover: {
      type: Boolean,
      default: false,
    },
    inline: {
      type: Boolean,
      default: false,
    },
    isOpened: {
      type: Boolean,
      default: false,
    },
    closed: {
      type: Boolean,
      default: false,
    },
  },

  data: () => ({
    isShownDropdown: false,
  }),

  created() {
    document.addEventListener(this.hover ? 'mouseover' : 'click', this.toggleDropdown);
  },

  methods: {
    toggleDropdown({ target }) {
      const checkOf = element => (typeof element === 'undefined' ? '' : element);
      const [link, content] = [
        checkOf(this.$refs['dropdown-link']),
        checkOf(this.$refs['dropdown-content']),
      ];
      const hasTarget = element => (element !== '' && element.contains(target));

      if (hasTarget(content)) return;

      this.isShownDropdown = hasTarget(link) ? !this.isShownDropdown : false;
    },
  },
};
</script>
