<template>
  <header class="header">
    <div class="g-container header__container">
      <nav>
        <router-link
          to="/"
          class="header__link"
          exact-active-class="header__link--active"
        >
          Главная
        </router-link>
        <router-link
          to="/basket"
          class="header__link"
          exact-active-class="header__link--active"
        >
          Корзина
          <span
            v-if="basketItemsAmount"
            class="header__basket-status"
          >
            {{ basketItemsAmount }}
          </span>
        </router-link>
      </nav>
      <router-link
        v-if="!isLoggedUser"
        to="/registration"
        class="header__link"
        exact-active-class="header__link--active"
      >
        Вход
      </router-link>
      <Dropdown
        v-else
        :is-opened="isShowMenu"
        class="user"
      >
        <div
          slot="title"
          class="user__container"
          @click="isShowMenu = !isShowMenu"
        >
          <button class="g-button">
            {{ loggedInUserEmail }}
          </button>
        </div>
        <div
          slot="content"
          class="user__menu"
        >
          <button
            class="g-button g-button--small"
            @click="logOut"
          >
            Выйти
          </button>
        </div>
      </Dropdown>
    </div>
  </header>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

import Dropdown from '@global/components/Dropdown';

export default {
  name: 'TheHeader',

  components: {
    Dropdown,
  },

  data: () => ({
    isShowMenu: false,
  }),

  computed: {
    ...mapGetters([
      'isLoggedUser',
      'loggedInUserEmail',
      'basketItemsAmount',
    ]),
  },

  created() {
    this.getLoggedInUser();
  },

  methods: {
    ...mapActions([
      'logOut',
      'getLoggedInUser',
    ]),
  },
};
</script>

<style lang="scss">
@import "~@global/scss/variables";

.header {
  display: flex;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  background-color: $main-color;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    position: relative;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    transition: background-color, 0.3s ease;

    &:hover {
      background-color: rgba(209, 209, 240, 0.4);
    }

    &:active {
      background-color: rgba(209, 209, 240, 0.2);
    }

    &--active {
      background-color: rgba(209, 240, 240, 0.4);
    }
  }

  &__basket-status {
    background-color: #da2828;
    border-radius: 5px;
    padding: 3px;
    display: inline-block;
    text-align: center;
  }
}
</style>
