<template>
  <div>
    <TheHeader />
    <RouterView class="g-container router" />
  </div>
</template>

<script>
import TheHeader from '@global/components/TheHeader';

export default {
  name: 'App',
  components: {
    TheHeader,
  },
};
</script>

<style lang="scss">
@import "~@global/scss/global";

.router {
  padding-top: 16px;
  padding-bottom: 16px;
}
</style>
